.DS_Store
dist/electron/*
dist/web/*
build/*
!build/icons
node_modules/
npm-debug.log
npm-debug.log.*
thumbs.db
!.gitkeep
/backend/.idea
/backend/.mvn
/backend/.gitignore
/backend/HELP.md
/backend/mvnw
/backend/mvnw.cmd
/backend/target
/.idea
